<!DOCTYPE html>
<!-- Source: Template from 2300 course materials -->
<html>

<head>

    <!-- This is the character encoding of my website -->
	<meta charset="UTF-8">
    
    <!-- This tells search engines what the website is about -->
	<meta name="Lillyan Pan" content="Lillyan Pan's website">
	
    <!-- This is that tiny icon in the topleft of your browser tab -->
    <link rel="icon" href="favicon.ico">
    
    <!-- This is your external CSS file for making things pretty -->    
	<link rel="stylesheet" href="css/style.css">

	<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>

	
    <!-- This is the text that appears on the browser tab -->
	<title>About</title>
    
</head>



<body>

	<header>
		<!-- Global Navigation Menu Bar -->
		<div id="header-wrapper">
			<div id="header" class="container">
				<div id="logo">
					<h1><a href="index.html">Lillyan Pan</a></h1>
				</div>
				<nav class="main-nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="contact.php">Contact</a></li>
						<li><a href="new.php">Art</a></li>
                		<li><a href="fun.php">Fun</a></li>
					</ul>
				</nav>
			</div>
			<div id="banner" class="container"><span>Designing for anyone</span></div>
		</div>
	</header>
    
	
	<div id="welcome" class="container">
        <!-- Put all the content needed on this page here -->
        <div class="title">
        	<h2>About</h2>
	        <p>I am a designer and photographer based out of City, State. My clients include Company A, Company B, Company C, Company D, Company E, and Company F. I enjoy traveling and finding new places. I'm interested in doing work for Company A, Company B, Company C, Company D, Company E, and Company F.</p>
        </div>

        <div class="content">
        	<div class="aboutTitle">
        		<h2>Education</h2>
        	</div>
        	<div class="aboutBody">
        		<ul class="listContent">
        			<li>
        				<b>Cornell University</b> <br> 
        				Major in Computer Science – College of Engineering
        				<br>
        			</li>
        			<li>
        				<b>Stillwater Area High School</b> <br>
        				Math League, Youth United Way, United Way, Science Club, English Club, More Club
        				<br>
        			</li>
        		</ul>
        	</div>

        	<div class="aboutTitle">
        		<h2>Experience</h2>
        	</div>
        	<div class="aboutBody">
		    	<ul class="listContent">
		    			<li>
		    				<b>Project Team</b><br>
        					Built a web application using these cool libraries. Connected it to Arduino to send data across the country. Work in progress Work in progress Work in progress Work in progress Work in progress Work in progress Work in progress.
							<br>
		    			<li>
		    				<b>Society of Women Engineers</b><br>
        					Hosted the networking event to help students connect with company recruiters. Work in progress Work in progress Work in progress Work in progress Work in progress Work in progress Work in progress.
							<br>
		    			</li>
		    			<li>
		    				<b>Sorority</b><br>
        					Finance director for greek sorority. Work in progress Work in progress Work in progress Work in progress Work in progress Work in progress Work in progress.
							<br>
		    			</li>
		    		</ul>
		    	</div>
		    </div>

		    <div class="aboutTitle">
		    	<h2>Interests</h2>
		    </div>
		    <div class="aboutBody">
		    	<ul class="listContent">
		    		<li>
		    			<b>Photography</b><br>
		    			I like taking photos of the places I've been to! Some photos from my travels. Continue to browse...
		    			<div class="images">
		    				<div class="aimageCon1">
		    					<!-- Source: https://marimekko.com/media/catalog/product/cache/7/image/9df78eab33525d08d6e5fb8d27136e95/0/0/009043-001_900.jpg -->
		    					<img src="assets/glass.jpg" alt="glass" title="flowers" width="300" height="450"/>
		    				</div>
		    				<div class="aimageCon2">
		    					<!-- Source: https://s-media-cache-ak0.pinimg.com/564x/39/dc/fb/39dcfb5bea15a39d7b7a44e48fc67f4e.jpg -->
		    					<img src="assets/pflower.jpg" alt="flowers" title="flowers" width="300" height="450"/>
		    				</div>
		    				<div class="aimageCon3">
		    					<!-- Source: https://katelovescolour.files.wordpress.com/2014/01/navy-petra.png -->
		    					<img src="assets/glass2.jpg" alt="glass" title="flowers" width="300" height="450"/>
		    				</div>   
		    			</div>
		    			<li>
		    			</ul>
		    		</div>
		    	</div>
	<footer>
        <!-- Tell people that this is my oc website do not steal -->
        <div id="copyright-date">
            Copyright &copy; 2016 Lillyan Pan. All rights reserved.
        </div>
	</footer>
    
<!-- Load JS -->
<script src="main.js"></script>
</body>

</html>