@import 'master.css';

/******* solution for 1 ***************/
#p1 {
	color: #7FFFD4;
}


/******* solution for 2 ***************/
#p2 {
	/*border-bottom: border-width border-style border-color|initial|inherit;*/
	border-bottom: 2px dotted #FF8C00;
	/*text-decoration: underline dotted orange; 
	border-bottom: 2px;*/
}



/******* solution for 3 ***************/
#p3.rectangle {
	width: 100px;
	height: 100px;
	border-color: red;
	background-color: red;
}





/******* solution for 4 ***************/
#p4.rectangle {
	/*padding-top: 66%;*/
/*	height: 400px;
	width: 600px;
	background-image: url('../img/doge.jpg');
	background-size: cover;*/

	/*background: color image position/size repeat origin clip attachment 
	*/
	/*equivalent to body { background: transparent url ('background.jpg') repeat scroll;} */
	background-color: transparent;
    background-image: url('../img/doge.jpg');
    background-repeat: repeat;
    /*window vs not*/
    background-attachment: scroll;
    background-size: cover;
}






/******* solution for 5 ***************/
#p5 {
	height: 400px;
	width: 400px;
	background-color: #7fff00;
	/*center automatically*/
	margin: auto; 
	border: dotted 5px;
	border-radius: 200px;

	/* enter solution here */
	


}

/******* solution for 6 ***************/
#p6 {
	/*background-position: x, y*/
	/*background-image: url("../img/doge-1.jpg");*/
	border-radius: 300px;
	border: 4px solid #FAEBD7;
	height: 300px;
	width: 300px;
	background: transparent url("../img/doge-1.jpg") repeat scroll;
	background-position: 35% 30%;
	background-size: 400px auto;
}









/******* solution for 7 ***************/
#p7 {
	list-style-type: none;
	display: block;
	list-style-image: none;
	list-style-position: outside;
	background-color: #000; 
}

#p7 li {
	padding: 20px 30px;
	display: inline-block;
}

#p7 a {
	color: #FFF;
	text-decoration: none;
}














/******* solution for 8 ***************/
#p8:hover {
	cursor: pointer;

}

#p8 p:last-child:hover {
	color: blue;
}







/******* solution for 9 ***************/
/*#one.rectangle {
	width: 200px;
	height: 200px;
	background-color: #ADFF2F;
}

#two.rectangle {
	width: 200px;
	height: 200px;
	background-color: #ADFF2F;
}

#three.rectangle {
	width: 200px;
	height: 200px;
	background-color: #ADFF2F;
}*/
#p9 {
	text-align: center;
	width: 100%;
}

#p9 .rectangle {
	width: 200px;
	height: 200px;
	background-color: #ADFF2F;
	/*margin: 10px;*/
	display: inline-block;
	/*text-align: center;*/
}

#one {
	float: left;
}

#three {
	float: right;
}







/******* solution for 10 ***************/
#outer {
	width: 300px;
	height: 300px;
	border-radius: 300px;
	background-color: #000;
}

#inner {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	background-color: #FFF;
	border-color: #FFF;
	margin-top: 50px;
	margin-left: 50px;
	position: absolute;
}
























